{% extends 'AppBundle:paddle:base.html.twig' %}

{% block title %}Subscribe to {{ planId }} subscription{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('bundles/app/css/paddle.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
  <div id="payment_status" class="centered"></div>
    {% if errorMessage is defined and errorMessage %}
      <div class="centered">
        <p>This error has happened:<br>{{ errorMessage }}</p>
      </div>
    {% endif %}
  <input type="hidden" id="close_permit" value="pending">
{% endblock %}

{% block javascripts %}
  <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
  <script type="text/javascript">
    Paddle.Setup({
      vendor: {{ vendor }},
      completeDetails: true
    });

    Paddle.Checkout.open({
      product: {{ planId }},
      passthrough: "{{ deviceGuid }}",
      successCallback: "checkoutComplete",
      closeCallback: "checkoutClosed"
    });

    var paymentStatus = document.getElementById("payment_status");
    var closePermit = document.getElementById("close_permit");
    closePermit.value = "pending";

    function checkoutComplete(data) {
      closePermit.value = "processing";
      var checkoutId = null;
      if (data.hasOwnProperty('checkout')) {
        checkoutId = data.checkout.id;
      }

      if (typeof(checkoutId) !== "undefined" && checkoutId !== null) {
        var xhr = new XMLHttpRequest();
        var params = "plan_id=" + {{ planId }} + "&checkout_id=" + checkoutId + "&device_guid=" + '{{ deviceGuid }}';
        xhr.open("post", "http://pay.flvtool.com/paddle/v3/subscription-init", true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            closePermit.value = "finished";
            JSON.parse(xhr.responseText)['status'] === true ?
              paymentStatus.innerHTML = "<b>Thank you for your purchase!</b>" :
              paymentStatus.innerHTML = "<b>Sorry, the payment has failed. Please, contact us to solve the issue.</b>";
          }
        };
        xhr.send(params);
      } else {
        closePermit.value = "finished";
        paymentStatus.innerHTML = "<p>Thank you for your purchase!</p>";
      }
    }

    function checkoutClosed() {
      closePermit.value = "canceled";
      paymentStatus.innerHTML = "<p>Your purchase of the subscription has been cancelled.</p>";
    }
  </script>
{% endblock %}