body {
  text-align: center;
}

p {
  font-size: 30px;
  font-weight: 800;
}

.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

#process_status {
  display: none;
  text-align: center;
}

#payment_status {
  display: inline-block;
}

.loader {
  animation: spin 2s linear infinite;
  border: 5px solid transparent;
  border-radius: 50%;
  border-top-color: #d24418;
  display: block;
  height: 100px;
  margin: 0 auto;
  position: relative;
  width: 100px;
}
.loader:before {
  animation: spin 3s linear infinite;
  border: 5px solid transparent;
  border-radius: 50%;
  border-top-color: #fc9d26;
  bottom: 5px;
  content: "";
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.loader:after {
  animation: spin 1.5s linear infinite;
  bottom: 15px;
  border: 5px solid transparent;
  border-radius: 50%;
  border-top-color: #e54d1f;
  content: "";
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
}
@-webkit-keyframes spin {
  0%   {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}